<div class="container">
	<div class="lead well">
		<div class="media">
		  <div class="media-left">
		    <a href="#">
		    	<%= image_tag('sample.png', class: 'media-object', alt: 'default img') %>
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">user1@example.com asked:</h4>
				<p>Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.</p>
		  </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div>
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#answer-modal">Submit new answer</button>
			</div>

			<%= render 'home/new_answer_form' %>

			<div class="media">
				  <div class="media-left">
				    <a href="#">
				    	<%= image_tag('sample.png', class: 'media-object', alt: 'default img') %>
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">user1@example.com answered:</h4>
						<p>Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.</p>
				  </div>
				</div>
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				    	<%= image_tag('sample.png', class: 'media-object', alt: 'default img') %>
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">user1@example.com answered:</h4>
						<p>Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.</p>
				  </div>
				</div>
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				    	<%= image_tag('sample.png', class: 'media-object', alt: 'default img') %>
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">user1@example.com answered:</h4>
						<p>Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>